// src/styles/_variables.scss
$primary-blue: #295BA7;
$gray-light: #F5F6F7;
$gray-lighter: #F8F9FA;
$text-title: #111;
$text-desc: #555;
$border-radius: 8px;
$box-shadow: 0 2px 8px 0 rgba(44, 62, 80, 0.08);

// Nuevas variables de fuente
$font-family-body: 'Roboto', Arial, sans-serif;
